@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
*{
	box-sizing: border-box;
	font-family: 'Roboto Condensed', sans-serif;
}
body{
	margin: 0;	
	background: #f2f2f2;
}
.contenedor{
	width: 100%;
	height: 100vh;	
	position: fixed;
}
.lateral{
	width: 25%;
	height: 100%;
	background: #f2f2f2;
	float: left;
}
.mod-conf{
	padding: 20px 20px 0 20px;
	background: #999999;
}

.lateral-opc{
	height: 83vh;
	overflow-y: scroll;
 	overflow-x: hidden;
 	background: #16A90A;
}
a {
	text-decoration: none;
	color: #FFF;
}

a:hover{
	/*background: rgba(40, 41, 35, 0.4);*/
    border-bottom: 1px solid #fff;
}

h3 a{
	color: #000;
}

h3 a:hover{
	border-bottom: 1px solid #000;
}

.lateral h1{	
	margin: 0 0 10px 0;
}
.lateral .alin-der{
	padding: 0 10px;
	text-align: right;
}

.alin-der a {
	border: 1px solid #999999; 
	padding: 5px;
	margin-top: 5px;
	appearance: auto;
    text-align: center;
    color: -internal-light-dark(black, white);
    background-color: -internal-light-dark(rgb(0, 0, 0), rgb(0, 0, 0));
    box-sizing: border-box;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(0, 0, 0), rgb(0, 0, 0));
    border-image: initial;
}

.alin-der a:hover{
	background: rgba(0, 0, 0, 0.4);
    border-bottom: 3px solid #fff;
}

.lateral h2{
	margin: 0px;
	color: #000;
}
.lateral hr{
	margin-top: 11px;
}

.principal{
	width: 75%;
	height: 100%;	
	float: left;
}

iframe{
	width: 100%;
	height: 100%;
	border: 0;	
}
